<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    {{ encore_entry_link_tags('app') }}

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        {% form_theme form 'form/bootstrap_5_layout.html.twig' %}
                        {{ form_start(form,{attr:{'novalidate':'novalidate','class':'user'} }) }}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {{ form_widget(form.username) }}
                                {{ form_errors(form.username) }}
                            </div>
                            <div class="col-sm-6">
                            {{ form_widget(form.firstname) }}
                            {{ form_errors(form.firstname) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {{ form_widget(form.lastname) }}
                                {{ form_errors(form.lastname) }}
                            </div>
                            <div class="col-sm-6">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {{ form_widget(form.plainpassword.first ) }}
                                {{ form_errors(form.plainpassword.first) }}
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {{ form_widget(form.plainpassword.second) }}
                                {{ form_errors(form.plainpassword.second) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Register Account
                        </button>
                        <hr>
                        {{ form_end(form) }}
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{{ path('app_login') }}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{{ encore_entry_script_tags('app') }}

</body>

</html>

{#<div class="form-group row">#}
{#    <div class="col-sm-6 mb-3 mb-sm-0">#}



{#    </div>#}
{#    <div class="col-sm-6">#}
{#        {{ form_label(form.firstname) }}#}
{#        {{ form_widget(form.firstname) }}#}
{#        {{ form_errors(form.firstname) }}#}
{#    </div>#}
{#</div>#}
{#<div class="form-group row">#}
{#    <div class="col-sm-6 mb-3 mb-sm-0">#}
{#        {{ form_label(form.lastname) }}#}
{#        {{ form_widget(form.lastname) }}#}
{#        {{ form_errors(form.lastname) }}#}

{#        {{ form_label(form.email) }}#}
{#        {{ form_widget(form.email) }}#}
{#        {{ form_errors(form.email) }}#}

{#    </div>#}
{#    <div class="col-sm-6">#}
{#        {{ form_label(form.firstname) }}#}
{#        {{ form_widget(form.firstname) }}#}
{#        {{ form_errors(form.firstname) }}#}
{#    </div>#}
{#    <input type="email" class="form-control form-control-user" id="exampleInputEmail"#}
{#           placeholder="Email Address">#}
{#</div>#}
{#<div class="form-group row">#}
{#    <div class="col-sm-6 mb-3 mb-sm-0">#}
{#        <input type="password" class="form-control form-control-user"#}
{#               id="exampleInputPassword" placeholder="Password">#}
{#    </div>#}
{#    <div class="col-sm-6">#}
{#        <input type="password" class="form-control form-control-user"#}
{#               id="exampleRepeatPassword" placeholder="Repeat Password">#}
{#    </div>#}
{#</div>#}
{#<a href="login.html" class="btn btn-primary btn-user btn-block">#}
{#    Register Account#}
{#</a>#}
{#<hr>#}
{#<a href="index.html" class="btn btn-google btn-user btn-block">#}
{#    <i class="fab fa-google fa-fw"></i> Register with Google#}
{#</a>#}
{#<a href="index.html" class="btn btn-facebook btn-user btn-block">#}
{#    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook#}
{#</a>#}

{#{{ form_end(form) }}#}
